*{
    margin: 0;
}

button{
    border: none;
    background-color: rgba(0,0,0,0);
    cursor:pointer;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Bookmania-regular{
    font-family: "Bookmania-light";
}

.Scala-sans-caps{
    font-family: "Scala-sans-caps";
}

h2{
    text-align: center;
}

#theoPfp, #leynaPfp, #mahbaPfp{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    border-radius: 50px;
    background-size: cover;
}

#theoPfp{
    background-image: url("pfp.png");
}

#leynaPfp{
    background-image: url("pfp.png");
}

#mahbaPfp{
    background-image: url("pfp.png");
}